.example-card {
    max-width: 800px;
}

.invalid {
    color: #ff0000;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card {
    text-align: center;
    vertical-align: middle;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}