<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>GMSC</span>
        <span class="example-spacer"></span>
        <button mat-button>About</button>
        <button mat-button (click)="logMeOut()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Input">
    </mat-form-field>
</div> -->
<!-- <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->

<mat-horizontal-stepper #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
        <form>
            <ng-template matStepLabel>Project Name</ng-template>
            <div class="example-container">
                <mat-form-field>
                    <input [(ngModel)]="Obj.projectName" matInput placeholder="Enter Project Name" name="projectName" required>
                </mat-form-field>
            </div>
            <div class="footer-actions">
                <button mat-button color="primary" (click)="goForward(stepper,1)">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form>
            <ng-template matStepLabel>Technologies</ng-template>
            <div class="example-container">
                <mat-form-field>
                    <input [(ngModel)]="Obj.serverSide " name="serverside" matInput placeholder="Severside" required>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <input [(ngModel)]="Obj.dataBase " name="database" matInput placeholder="Database" required>
                </mat-form-field>
            </div>
            <div class="footer-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="goForward(stepper,2)" color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form>
            <ng-template matStepLabel>Node modules</ng-template>
            <div class="example-container">
                <mat-form-field>
                    <textarea name="addedModules" [(ngModel)]="Obj.addedModules" matInput placeholder="List of Selected Modules.." readonly></textarea>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <input matInput name="search" placeholder="Select Modules" (keypress)="loadModule()" [(ngModel)]="search" required>
                </mat-form-field>
                <mat-selection-list>
                    <mat-list-option *ngFor="let module of listOfNodeModules">
                        <span title="{{module.data.description}}" (click)="clickItToUpdate(module.value)">{{module.value}}</span>
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <!-- <mat-grid-list cols="2" rowHeight="5:1">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Select Modules" formControlName="modules" (keypress)="loadModule()" [(ngModel)]="search" required>
                    </mat-form-field>
                    <mat-selection-list>
                        <mat-list-option *ngFor="let module of listOfNodeModules">
                            <span title="{{module.data.description}}">{{module.value}}</span>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <textarea matInput placeholder="List of Selected Modules.." readonly></textarea>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list> -->
            <!-- <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Database" formControlName="Database" required>
                    </mat-form-field>
                </div> -->
            <div class="footer-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="goForward(stepper,3)" color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <form>
            <ng-template matStepLabel>DB Configuration</ng-template>
            <div class="example-container">
                <mat-form-field>
                    <input [(ngModel)]="Obj.tableNames" matInput placeholder="Table Name" name="tableNames" required>
                </mat-form-field>
            </div>
            {{someDataFromService}}
            <!-- <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Database" formControlName="Database" required>
                        </mat-form-field>
                    </div> -->
            <div class="footer-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Export</ng-template>
        You are now done, enjoy!!
        <div class="footer-actions">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="getAllInfoInJson()">Reset</button>
            <!-- <button mat-raised-button color="primary">Export</button> -->
        </div>
    </mat-step>
</mat-horizontal-stepper>